.body{
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond;
    color: darkslategray;
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown{
    margin-top: 15px;
}
 
.values{
    position: absolute;
    margin-top: 15px;
}


.img-fluid{   
  width: 150px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
    
#hidden{
    display: none;
    color: darkslategray;
}

#dropdownMenu1{
    color: darkslategray;
}


