.body{
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond;
    color: darkslategray;
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown{
    margin-top: 15px;
}
 
.values{
    margin-top: 15px;
}


.img-fluid{   
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  width: 150px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.img-fluid:hover{
    opacity: 0.5;
}

#button-one{
    border:5px solid gainsboro;
}

#button-two{
    border:5px solid silver;
}

#button-three{
    border:5px solid lightslategray;
}

#button-four{
    border:5px solid dimgray;
}

#hidden{
    display: none;
    color: darkslategray;
}

#dropdownMenu1{
    color: darkslategray;
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond;
}


